.photo-wrapper {
    position: relative;
    display: inline-block;
}

.photo-wrapper img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.delete {
    position: absolute;
    right: 0;
    cursor: pointer;
}
